/**
 * Author: Serhii Salatskyi <xsalat01@stud.fit.vutbr.cz>
 */

.image-container {
    /* 60px is the height of the navbar => we substract 56 px in order to fit perfectly the map to the screen size */
    height: calc(100vh - 60px);
    position: fixed;
    width: 50%;
    margin: 0%;
    padding: 0%;
}

.gallery-container {
    columns: 2 auto;
    margin: 0%;
    padding: 0%;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
}

.favourite-icon {
  float: right;
  vertical-align: middle;
  font-size: 24px;
  color: rgba(0, 0, 0, .1);
}

.error {
  font-size: 0.8rem;
  color: #bb0000;
}