/**
 * Author: Nikita Zhukov <xzhuko01@stud.fit.vutbr.cz>
 */

.forma_djr_regular {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 500;
    font-style: normal; 
}

.forma_djr_medium {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #223A88;
}

.feed_item {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin-bottom: 30px;
}

.dislike_btn {
    color: rgba(0, 0, 0, .1);
}

.dislike_btn:hover {
    color:rgba(233, 25, 25, 0.89);
}